<header class="header">
  <a href="{{ site.baseurl }}/" class="logo">相將見、脆丸薦酒，人正在、空江煙浪裡。但夢想、一枝瀟灑，黃昏斜照水。</a>
  <nav class="menu">
    {% for menu in site.menu -%}

      {%- assign target = "" %}
      {%- if menu.target %}
        {% capture target %}target="{{ menu.target }}"{% endcapture %}
      {%- endif %}

      {%- assign href = menu.url %}
      {%- unless href contains "://" %}
        {% capture href %}{{ site.baseurl }}{{ menu.url }}{% endcapture %}
      {%- endunless -%}

      <a href="{{href}}" {{target}} class="hover-underline">{{ menu.title }}</a>
    {% endfor -%}
  </nav>
</header>
